/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

/* script-02 */
/* .odd {
  min-height: 100px;
  border: 1px solid red;
  color: red;
}

.even {
  min-height: 100px;
  border: 1px solid green;
  color: green;
} */
